# SPDX-FileCopyrightText: 2017 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: GPL-3.0-or-later
Pods
Podfile.lock
GccTalk.xcodeproj/xcuserdata
GccTalk.xcodeproj/project.xcworkspace/xcuserdata
GccTalk.xcworkspace/xcuserdata
ThirdParty/WebRTC.xcframework
.DS_Store
testResult.xcresult
dictionary.dic
DerivedData
build
